# Copy to .env for local development
PORT=4000

# Local Postgres example:
# postgresql://postgres:postgres@localhost:5432/sindustries_tasks?schema=tasks_api
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sindustries_tasks?schema=tasks_api"
